.announcements_layer{
    background: white;
    padding: 1em;
}
.announcements_layer img{
    vertical-align: -webkit-baseline-middle;
}

.announcements_layer a,
.announcements_layer button{
    width: 20px;
    height: 20px;
    border: none;
}
.announcements_layer .announcement-title{
    color:#932136;
    font-weight: 700;
    width: 100%;
}

.announcements_layer .il_VAccordionHead{
    background-color: #e5e5e5;
    display: flex;
}
.announcements_layer .il_VAccordionHead a{
     line-height: 100%;
}
.announcements_layer .il_VAccordionHead * + *{
    margin-left: .5em;
}
.announcements_layer .il_VAccordionHead .announcement-meta{
    color: #8d8d8d;
    font-weight: normal;
    font-size: small;
    white-space: nowrap;
}
.announcements_accordion .il_VAccordionContent{
    padding: 1em;
    border: 3px solid #e5e5e5;
}

.announcements_layer .announcements_head{
    color:#932136;
    padding: 1em 0;
    font-weight: 600;
    display: flex;
}
.announcements_layer .announcements_head .btn-link{
    margin-right: 1em;
}
