.announcements_accordion .il_VAccordionHead{
	color:#932136;
	font-weight: bolder;
	background-color: #e5e5e5;
	padding-top: 0.5em;
}
.announcements_accordion .il_VAccordionContent{
	color: black;
	font-weight: normal;
	background-color: white;
	padding: 0.8em;
}
.announcements_accordion .il_VAccordionContainer{
	background-color: white;
	margin-bottom: 0px; 
	padding-bottom: 10px;
}
.announcements_accordion .announcements_meta{
	float: right;
	color: #8d8d8d;
	font-weight: normal;
	font-size: small;
}
.announcements_head{
	color:#932136;
	background-color: white;
	padding: 1em;
	font-weight: 600;
}
.announcements_accordion .il_VAccordionContentDef {
	border: 3px solid #e5e5e5;
}
.announcements{
	margin: 1em;
	margin-bottom: 0em;
	margin-top: 0em;
	background-color: white;
}
.announcements_layer{
	background-color: white;
}
.announcements_rss, .announcements_rooms_rss{
	width:20px;
	height:20px;
	background-repeat: no-repeat;

}
.announcements_head button{
	font-size: 0 !important;
	background-repeat: no-repeat;
	width:20px;
	height:20px;
}
.announcements_rss{
	background-image: url("../templates/images/rss_1.svg");
}
.announcements_rooms_rss{
	background-image: url("../templates/images/rss_2.svg");
}